.forgot_password_email {

    .forgot_password_email_info {
        padding: 0px;
        margin: 24px 0px;
        color: $neri-nero-chiaro;
        text-align: center;
        font-family: $font-regular-OpenSans;
        font-size: 18px;
        line-height: 160%;
    }

    form {
        #fitem_id_submitbuttonemail {
            display: none;
        }

        #fitem_id_email {
            display: flex;
            flex-direction: column;

            div {
                width: 100%;
                max-width: 100%;
            }
        }

        label {
            width: 100%;
            color: $secondari-chiaro;
            font-family: $font-bold-NunitoSans;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.6px;
        }

        input[type=text] {
            width: 100%;
            border-radius: 4px;
            border: 1px solid $neri-grigio-medio;
            background-color: $neri-grigio-chiarissimo;
        }
    }
}