     <div class="fsbac-home_user_sections">
     {{> theme_fsbac/home/user/header}}
     
     {{> theme_fsbac/home/user/course_like}}

     {{> theme_fsbac/home/user/course_suggeriti}}

      {{> theme_fsbac/home/user/course_last_minute}}

     {{> theme_fsbac/home/user/course_tendenza}}

     {{> theme_fsbac/home/user/course_new}}
     </div>