<section class="fcbac-banner-blue-formazione">
 <div class="container">
    <div class="fcbac-flex left-cnt">
     {{< theme_fsbac/components/title-section}}
            {{$title}}{{#str}}chisiamo.banner_formazione_title, theme_fsbac{{/str}}{{/title}}
      {{/ theme_fsbac/components/title-section}}
      <p>{{#str}}chisiamo.banner_formazione_txt, theme_fsbac{{/str}}</p>
    </div>
     <div class="fcbac-flex right-cnt">
                <div class="cards-info cards-info-horizontal">
                    <div class="fcbac-box-blue-icon"> {{> theme_fsbac/icons_svg/card-checklist-fill}}</div>
                    <div class="title-card">{{#str}}chisiamo.corsi_multimediali, theme_fsbac{{/str}}</div> 
                    <p class="msg-card">{{#str}}chisiamo.corsi_multimediali_txt, theme_fsbac{{/str}}</p> 
                </div>
                <div class="cards-info cards-info-horizontal">
                    <div class="fcbac-box-blue-icon"> {{> theme_fsbac/icons_svg/mic-fill}}</div>
                    <div class="title-card">{{#str}}chisiamo.podcast, theme_fsbac{{/str}}</div> 
                    <p class="msg-card">{{#str}}chisiamo.podcast_txt, theme_fsbac{{/str}}</p> 
                </div>
                <div class="cards-info cards-info-horizontal">
                    <div class="fcbac-box-blue-icon"> {{> theme_fsbac/icons_svg/collection-play-fill}}</div>
                    <div class="title-card">{{#str}}chisiamo.ondemand, theme_fsbac{{/str}}</div> 
                    <p class="msg-card">{{#str}}chisiamo.ondemand_txt, theme_fsbac{{/str}}</p> 
                </div>
                 <div class="cards-info cards-info-horizontal">
                    <div class="fcbac-box-blue-icon"> {{> theme_fsbac/icons_svg/camera-video-fill}}</div>
                    <div class="title-card">{{#str}}chisiamo.live, theme_fsbac{{/str}}</div> 
                    <p class="msg-card">{{#str}}chisiamo.live_txt, theme_fsbac{{/str}}</p> 
                </div>
    </div>
 
 </div>
</section>