<section class="fsbac-section-box-info">
    <div class="container">
         <div class="content-info ">
           <div class="content-image">
            <div class="boxs-info">
                <div class="box">
                    <div class="icon"> {{> theme_fsbac/icons_svg/columns-gap-fill}}</div>
                    <div class="text">{{#str}}chisiamo.box1, theme_fsbac{{/str}}</div>
                </div>
                <div class="box">
                    <div class="icon"> {{> theme_fsbac/icons_svg/alt-fill}} </div>
                    <div class="text">{{#str}}chisiamo.box2, theme_fsbac{{/str}}</div>
                </div>
                <div class="box">
                    <div class="icon"> {{> theme_fsbac/icons_svg/pie-chart-fill}} </div>
                    <div class="text">{{#str}}chisiamo.box3, theme_fsbac{{/str}}</div>
                </div>
           
            
            </div>
           </div>
         </div>
         <div class="content-info deatils-text">
             {{< theme_fsbac/components/title-section}}
                        {{$title}}{{#str}}chisiamo.box_title, theme_fsbac{{/str}}{{/title}}
            {{/ theme_fsbac/components/title-section}}
            <div class="desc">
             {{#str}}chisiamo.box_txt, theme_fsbac{{/str}}
            </div>
         
         </div>
    </div>

</section>