<div class="fsbac-header-banner" style="background-image:url('{{imageBannerUrl}}')">
        <div class="fsbac-header-banner-content">
            <p class="fsbac-toptitle-banner">{{#str}}home.banner_top_header, theme_fsbac{{/str}}</p>
            <h1>{{titlePage}}</h1>
            <p class="fsbac-subtitle-banner">
               {{subTitlePage}}
            </p>
            <div class='fsbac-buttons-action'>
                <a href="{{config.wwwroot}}/local/fsbaclogin/signup_with_cf.php" class="btn btn-primary">{{#str}}home.banner_top_button_enrol, theme_fsbac{{/str}}</a>
                <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php" class="btn btn-outline-light">{{#str}}home.banner_top_button_catalog, theme_fsbac{{/str}}</a>
            </div>
        </div>
      
</div> 