

{{#courses}}
        {{< theme_fsbac/components/course-card/index}}
          {{$labelButton}}{{#str}}common.coursecard_link,theme_fsbac{{/str}}{{/labelButton}}
         {{/theme_fsbac/components/course-card/index}}

{{/courses}}


