{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="row mb-3">
    <div class="col-12">
        <nav class="d-flex navbar navbar-light bg-light">
            <form class="form-inline justify-content-start" action="">
                <input class="form-control mr-sm-2" type="search" name="q" value="{{ q }}" placeholder="{{#str}}bulkname, local_ard_notification{{/str}}..." aria-label="{{#str}}bulkname, local_ard_notification{{/str}}">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{{#str}}search{{/str}}</button>
            </form>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" href="{{ config.wwwroot }}/admin/user/user_bulk.php" title="{{#str}}addbulk, local_ard_notification{{/str}}" alt="{{#str}}addbulk, local_ard_notification{{/str}}" role="button">
                    {{#str}}addbulk, local_ard_notification{{/str}}
                </a>
            </div>
        </nav>
    </div>
</div>
