 <div  class="fsbac-header-logged-course">
    <div class="container-title-course">
        <h1 class="title-course">{{{titolo}}}</h1>{{#isNew}}<div class='isNewCourse'>{{#str}}course.isNew, theme_fsbac{{/str}}</div>{{/isNew}}
    </div>
    {{#sottotitolo}}<p class="subtitle-course">{{sottotitolo}}</p>{{/sottotitolo}}
</div>