 <header id="page-header" class="fsbac-header-course">
        <div class="container">
              <a class="fsbac-link-back" href='{{config.wwwroot}}/theme/fsbac/pages/courses.php'><i class="fas fa-chevron-left"></i>{{#str}}course.buttonback, theme_fsbac{{/str}}</a>
            <div class="title-course-container">
            <div class="title">
                <h1>{{{titolo}}} </h1> {{#isNew}}<div class='isNewCourse'>{{#str}}course.isNew, theme_fsbac{{/str}}</div>{{/isNew}}
            </div>
                <h2>{{sottotitolo}}</h2>
             
            </div>
         
        </div>
</header>