<!-- <div style="display:inline-block">
    <img src="{{{course_descr_img_url}}}">
</div> -->
<ul class="{{format}}">
    {{#course_descr}}
        <li>
            {{{course_descr}}}
        </li>
    {{/course_descr}}

    {{^isloggedandenrolled}}
        {{#customcertid}}
            <li>
                {{#str}} getcertificate, format_corsofsbac {{/str}}
                <div>
                    {{#str}} getcertificatedesc, format_corsofsbac {{/str}}
                <div>
            </li>

            {{#paths}}
                <li>
                    {{number}}
                    {{#multiplepaths}}
                        {{#str}} relatedpaths, format_corsofsbac {{/str}}
                    {{/multiplepaths}}
                    {{^multiplepaths}}
                        {{#str}} relatedpath, format_corsofsbac {{/str}}
                    {{/multiplepaths}}

                    <div>
                        {{#str}}
                            coursepartof,
                            format_corsofsbac,
                            {
                                "number": {{number}},
                                "items": {{#quote}}
                                            {{#multiplepaths}}
                                                {{#str}} paths, format_corsofsbac {{/str}}
                                            {{/multiplepaths}}
                                            {{^multiplepaths}}
                                                {{#str}} path, format_corsofsbac {{/str}}
                                            {{/multiplepaths}}
                                        {{/quote}}
                            }
                        {{/str}}:
                    </div>

                    {{#pathsinfo}}
                        <div>
                            <a href="{{pathlink}}"> {{pathname}} </a>
                        </div>
                    {{/pathsinfo}}
                </li>
            {{/paths}}
        {{/customcertid}}
    {{/isloggedandenrolled}}
</ul>

{{< core_courseformat/local/content }}
    {{$ core_courseformat/local/content/section }}
        {{> format_corsofsbac/local/content/section }}
    {{/ core_courseformat/local/content/section }}
{{/ core_courseformat/local/content }}

<ul class="{{format}}">
    {{#iscustomcertavailable}}
        <li>
            <div>
                {{#str}} certificate, format_corsofsbac {{/str}}
            </div>
            <div>
                {{#str}} downloadcertificatedesc, format_corsofsbac {{/str}}
            </div>
            <a href="{{wwwroot}}/mod/certificate/view.php?id={{customcertid}}&downloadown=1"> {{#str}} downloadcertificate, format_corsofsbac {{/str}} </a>
        </li>
    {{/iscustomcertavailable}}
    {{#generalinformation}}
        <li>
            {{#str}} generalinformation, format_corsofsbac {{/str}}
            {{#codicecorso}}
                <div>
                    {{#str}} codicecorso, format_corsofsbac {{/str}}: {{codicecorso}}
                </div>
            {{/codicecorso}}
            {{#mode}}
                <div>
                    {{#str}} coursetypology, format_corsofsbac {{/str}}: {{mode}}
                </div>
            {{/mode}}
            {{#programma}}
                <div>
                    {{#str}} category, format_corsofsbac {{/str}}: {{programma}}
                </div>
            {{/programma}}
            {{#tags}}
                <div>
                    {{#str}} tag, format_corsofsbac {{/str}}: {{tags}}
                </div>
            {{/tags}}
            {{#teacherslist}}
                <div>
                    {{#str}} authors, format_corsofsbac {{/str}}: {{teacherslist}}
                </div>
            {{/teacherslist}}
            {{#destinato_a}}
                <div>
                    {{#str}} intendedfor, format_percorsofsbac {{/str}}: {{destinato_a}}
                </div>
            {{/destinato_a}}
            {{#level}}
                <div>
                    {{#str}} level, format_percorsofsbac {{/str}}: {{level}}
                </div>
            {{/level}}
            {{#duration}}
                <div>
                    {{#str}} overallduration, format_corsofsbac {{/str}}: {{duration}}
                </div>
            {{/duration}}
            {{#expiration}}
                <div>
                    {{#str}} courseexpiration, format_corsofsbac {{/str}}: {{expiration}}
                </div>
            {{/expiration}}
        </li>
    {{/generalinformation}}
</ul>
