<img src="{{logourl}}" class="fsbac-logo-footer" alt="beniculturali">
<div>
    {{#str}} welcome, local_fsbaclogin, {{fullusername}} {{/str}}
</div>
<div>
    {{#str}} itspleasuretoseeyouhere, local_fsbaclogin {{/str}}
</div>
<div>
    {{#str}} youcompletedcreationaccount, local_fsbaclogin {{/str}}
</div>
<div>
    {{#str}} weasktwominutes, local_fsbaclogin {{/str}}
</div>
<div>
    <a href="{{buttonurl}}">
        {{#str}} letsknowintwominutes, local_fsbaclogin {{/str}}
    </a>
</div>