{{< core_courseformat/local/content/section }}
    {{$ core_courseformat/local/content/section/cmitem }}
        {{> format_corsofsbac/local/content/section/cmitem }}
    {{/ core_courseformat/local/content/section/cmitem }}
    {{$ core_courseformat/local/content/section/header }}
        {{> format_corsofsbac/local/content/section/header }}
    {{/ core_courseformat/local/content/section/header }}
{{/ core_courseformat/local/content/section }}