<label class="fsbac-rangeslider-label" >{{$label}}{{label}}{{/label}}</label>
 <div class="fsbac-rangeslider-container">
  
    <div class="slider-track"></div>
    <div class="range-wrap">
        <input type="range" min="1" max="{{$maxDuration}}{{maxDuration}}{{/maxDuration}}" value="1" id="slider-1" >
        <output class="bubble" id="slider-1-bubble"></output>
   </div>
    <div class="range-wrap">
        <input type="range" min="1" max="{{$maxDuration}}{{maxDuration}}{{/maxDuration}}" value="{{$maxDuration}}{{maxDuration}}{{/maxDuration}}" id="slider-2" >     
        <output class="bubble" id="slider-2-bubble"></output>
   </div>
   
   
 </div>