
        <div class=" swiper-slide fsbac-card-argomento produzione_gestione">
                <div class="fsbac-card-argomento-title-container">
                     <div class='icon-title'>{{> theme_fsbac/icons_svg/code-square-fill}}</div>  <p class="title-card-argomento">{{#str}}dicolab.argomenti.produzione_gestione,theme_fsbac{{/str}}</p>
                </div>
                <div class="fsbac-card-argomento-desc">
                    {{#str}}dicolab.argomenti.produzione_gestione_desc,theme_fsbac{{/str}}
                </div>
                <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?tag=produzione_e_gestione"  class="btn btn-link">{{#str}}dicolab.argomenti.link,theme_fsbac{{/str}}  <i class="fa fa-arrow-right"></i></a>
        </div>

        <div class=" swiper-slide fsbac-card-argomento processi_di_supporto">
            <div class="fsbac-card-argomento-title-container">
                 <div class='icon-title'>{{> theme_fsbac/icons_svg/code-square-fill}}</div> <p class="title-card-argomento">{{#str}}dicolab.argomenti.processi_di_supporto,theme_fsbac{{/str}}</p>
            </div>
            <div class="fsbac-card-argomento-desc">
                {{#str}}dicolab.argomenti.processi_di_supporto_desc,theme_fsbac{{/str}}
            </div>
          <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?tag=processi_di_supporto"  class="btn btn-link">{{#str}}dicolab.argomenti.link,theme_fsbac{{/str}}  <i class="fa fa-arrow-right"></i></a>

        </div>
     
        <div class=" swiper-slide fsbac-card-argomento pensiero_digitale">
            <div class="fsbac-card-argomento-title-container">
                 <div class='icon-title'>{{> theme_fsbac/icons_svg/collection-play-fill}}</div> <p class="title-card-argomento">{{#str}}dicolab.argomenti.pensiero_digitale,theme_fsbac{{/str}}</p>
            </div>
            <div class="fsbac-card-argomento-desc">
                {{#str}}dicolab.argomenti.pensiero_digitale_desc,theme_fsbac{{/str}}
            </div>
       <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?tag=pensiero_digitale"  class="btn btn-link">{{#str}}dicolab.argomenti.link,theme_fsbac{{/str}}  <i class="fa fa-arrow-right"></i></a>

        </div>
   
        <div class=" swiper-slide fsbac-card-argomento governance_della_rasformazione_digitale">
            <div class="fsbac-card-argomento-title-container">
                 <div class='icon-title'>{{> theme_fsbac/icons_svg/columns-fill}}</div> <p class="title-card-argomento">{{#str}}dicolab.argomenti.governance_della_rasformazione_digitale,theme_fsbac{{/str}}</p>
            </div>
            <div class="fsbac-card-argomento-desc">
                {{#str}}dicolab.argomenti.governance_della_rasformazione_digitale_desc,theme_fsbac{{/str}}
            </div>
         <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?tag=governance_della_trasformazione_digitale"  class="btn btn-link">{{#str}}dicolab.argomenti.link,theme_fsbac{{/str}}  <i class="fa fa-arrow-right"></i></a>

        </div>
  
         <div class=" swiper-slide fsbac-card-argomento uso_e_condivisione">
            <div class="fsbac-card-argomento-title-container">
                 <div class='icon-title'>{{> theme_fsbac/icons_svg/credit-card-2-front-fill}}</div> <p class="title-card-argomento">{{#str}}dicolab.argomenti.uso_e_condivisione,theme_fsbac{{/str}}</p>
            </div>
            <div class="fsbac-card-argomento-desc">
                {{#str}}dicolab.argomenti.uso_e_condivisione_desc,theme_fsbac{{/str}}
            </div>
         <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?tag=uso_e_condivisione"  class="btn btn-link">{{#str}}dicolab.argomenti.link,theme_fsbac{{/str}}  <i class="fa fa-arrow-right"></i></a>

        </div>

        <div class=" swiper-slide fsbac-card-argomento ricerca_e_innovazione">
            <div class="fsbac-card-argomento-title-container">
               <div class='icon-title'>{{> theme_fsbac/icons_svg/credit-card-2-front-fill}}</div>  <p class="title-card-argomento">{{#str}}dicolab.argomenti.ricerca_e_innovazione,theme_fsbac{{/str}}</p>
            </div>
            <div class="fsbac-card-argomento-desc">
                {{#str}}dicolab.argomenti.ricerca_e_innovazione_desc,theme_fsbac{{/str}}
            </div>
          <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?tag=ricerca_e_innovazione"  class="btn btn-link">{{#str}}dicolab.argomenti.link,theme_fsbac{{/str}}  <i class="fa fa-arrow-right"></i></a>

        </div>
