<div class="fsbac-dicolab-banner">
    <div class="container fsbac-dicolab-banner-container">
        <div class="fsbac-dicolab-banner-container-text">
            <h2 class="fsbac-dicolab-banner-container-title">
            {{#str}}dicolab.banner.title,theme_fsbac{{/str}}
            </h2>
            <div class="fsbac-dicolab-banner-container-desc">
            {{#str}}dicolab.banner.desc,theme_fsbac{{/str}}
            </div>

            <div class="fsbac-dicolab-banner-container-buttons">
                {{^isLogged}}
                     <a href="{{config.wwwroot}}/local/fsbaclogin/signup_with_cf.php" class="btn btn-primary">{{#str}}dicolab.banner.button1,theme_fsbac{{/str}}</a>
                 {{/isLogged}}
                 <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php?program=Dicolab" class="btn btn-secondary">{{#str}}dicolab.banner.button2,theme_fsbac{{/str}}</a>
            </div>
        </div>
    
    </div>
</div>