<div class="fsbac-cultura-container container">
    <div class="fsbac-cultura-image"></div>
     <div class="fsbac-cultura-text">
        <div class="fsbac-cultura-info">{{#str}}dicolab.cultura.info,theme_fsbac{{/str}}</div>
        <h2 class="fsbac-cultura-title">{{#str}}dicolab.cultura.title,theme_fsbac{{/str}}</h2>
        <div class="fsbac-cultura-data">{{#str}}dicolab.cultura.text,theme_fsbac{{/str}}</div>
     </div>
</div>