{{#issectionavailable}}
    {{< core_courseformat/local/content/section }}
        {{$ core_courseformat/local/content/section/cmitem }}
            {{> format_percorsofsbac/local/content/section/cmitem }}
        {{/ core_courseformat/local/content/section/cmitem }}
        {{$ core_courseformat/local/content/section/header }}
            {{> format_percorsofsbac/local/content/section/header }}
        {{/ core_courseformat/local/content/section/header }}
    {{/ core_courseformat/local/content/section }}
{{/issectionavailable}}
