<!--
<img src="{{logourl}}" class="fsbac-logo-footer" alt="beniculturali">
<div>
    {{#str}} welcome, local_fsbaclogin, {{fullusername}} {{/str}}
</div>
<div>
    {{#str}} itspleasuretoseeyouhere, local_fsbaclogin {{/str}}
</div>
<div>
    {{#str}} youcompletedcreationaccount, local_fsbaclogin {{/str}}
</div>
<div>
    {{#str}} weasktwominutes, local_fsbaclogin {{/str}}
</div>
<div>
    <a href="{{buttonurl}}">
        {{#str}} letsknowintwominutes, local_fsbaclogin {{/str}}
    </a>
</div>
-->

<div class='fsbac-login-fixed fsbac-container-confirm'>

    <div class="fsbac-container-confirm-card">
       <p class="welcome"> {{#str}} confirm.welcome, theme_fsbac {{/str}}</p> 
       <h1 class="welcome-name">{{#str}} confirm.welcome_title, theme_fsbac, {{fullusername}} {{/str}}</h1>
       <p class="fsbac-welcome-text-info">{{#str}} confirm.welcome_info, theme_fsbac {{/str}}</p>

         <a class="btn btn-primary" href="{{buttonurl}}">
             {{#str}}confirm.welcome_button, theme_fsbac {{/str}}
         </a>
    </div>


</div>