<div class="fsbac-form-container">
    <div class="fsbac-form-header">
        <div class="fsbac-logo">

            <a href="{{config.wwwroot}}/index.php"><img src="{{logourl}}" /></a>
        </div>
        <div class="fsbac-lang">
        {{$lang}}{{{lang}}}{{/lang}}
 
        </div>
    </div>

        {{$container}}{{{container}}}{{/container}}

    <div class="fsbac-login-footer">
        {{#str}}login.footer, theme_fsbac{{/str}} 
    </div>
</div>