{{{form}}}

<div class='fsbac-login-fixed'>

    <div class='fsbac-login-section-form' style='flex:1'>
        {{< theme_fsbac/local_fsbaclogin/container}}
           {{$lang}}{{{languagemenu}}}{{/lang}}
           {{$container}}
            <div class='fsbac-form-wrapper'>
                <p class='fsbac-login-info text-center'>{{#str}}login.forgot_password_email_msg, theme_fsbac{{/str}}</p>
                <h1 class='fsbac-login-title text-center'>{{#str}}login.forgot_password_email, theme_fsbac{{/str}}</h1>
                <div class="forgot_password_email">
                    <p class="forgot_password_email_info">{{#str}}login.forgot_password_email_info, theme_fsbac{{/str}}</p>
                  {{{form}}}
                </div>
                
                <button class="btn btn-primary btn-lg w-100 buttonSubmitSign" type="submit" id="loginbtn">{{#str}}login.forgot_password_email_button, theme_fsbac{{/str}}</button>
            
        
            </div>
           {{/container}}
        {{/theme_fsbac/local_fsbaclogin/container}}
    </div>
    


</div>

{{#js}}
require(
[
    'jquery',
],
function(
    $,

) {
    $('.buttonSubmitSign').on('click',()=>{
        $('#fitem_id_submitbuttonemail input').click();
    })
});
{{/js}}
   

