
 {{< theme_fsbac/local_fsbaclogin/container_profilazione}}
     {{$container}}
      <div class='fsbac-profilazione-wrapper step_{{page}}'>
            <p class="title-form">{{title}}</p>
            {{{form}}}  
      </div>
      {{/container}}
 {{/ theme_fsbac/local_fsbaclogin/container_profilazione}}