<section class="fsbac-banner_middle_section">
        <div class="fsbac-banner_middle_container">
            <div class="fsbac-banner_middle-title">{{#str}}home.banner_middle_section, theme_fsbac{{/str}}</div>
            <p>{{#str}}home.banner_middle_section_text, theme_fsbac{{/str}}</p>
            <div class="fsbac-banner_middle-links">
            <a href="{{config.wwwroot}}/local/fsbaclogin/signup_with_cf.php"  class="btn btn-light enrol-link">{{#str}}home.banner_middle_section_enrol, theme_fsbac{{/str}} </a>
            <a href="{{config.wwwroot}}/theme/fsbac/pages/courses.php" class="btn btn-outline-light catalog-link">{{#str}}home.banner_middle_section_catalog, theme_fsbac{{/str}} </a>
            </div>
        </div>
       
          <img class="fsbac-banner_middle_image" src='{{imageBannerBlueImage}}' />
</section>