<div class="fsbac-course-card-info">
    <div class="fsbac-course-card-info-icon">
        <div class="info-icon">{{$icon}}{{icon}}{{/icon}}</div>
    </div>
    <div  class="fsbac-course-card-info-body">
    <div class="title-info">{{$title}}{{title}}{{/title}}</div>
    <div class="content-info">{{$content}}{{content}}{{/content}}</div>
    </div>
</div>