<div class="fsbac-path_course_minicard">
<div class="image" style='background-image:url("{{$image}}{{image}}{{/image}}");'>

</div>
<div class="info-container">
<a class="title-path-course" href="{{config.wwwroot}}/course/view.php?id={{$id}}{{id}}{{/id}}" title="{{$title}}{{title}}{{/title}}">{{$title}}{{title}}{{/title}}</a>
<p class="subtitle-path-course">{{$subtitle}}{{subtitle}}{{/subtitle}}</p>
<p class="data-path-course">
        <span><i class="fas fa-trophy"></i>{{$level}}{{level}}{{/level}}</span>
        <span><i class="fas fa-calendar"></i>{{$duration}}{{duration}}{{/duration}}</span>
</p>
</div>


{{$completed}}
  {{completed}}
{{/completed}}
</div>