
<div class='fsbac-title-section'>
<div>
    <svg class="{{$class}}{{class}}{{/class}}"  xmlns="http://www.w3.org/2000/svg" width="30" height="37" viewBox="0 0 30 37" fill="none">
        <path class='svg-arrow-top' opacity="0.5" d="M30 26L9.86942e-07 14.814L2.29397e-06 -1.90735e-06L30 11.186L30 26Z" fill="#C5C8D2"/>
        <path class='svg-arrow-bottom' d="M-1.90735e-06 37L30 25.814L30 11L-6.00317e-07 22.186L-1.90735e-06 37Z" fill="#7E65A0"/>
    </svg>
</div>

<h3 class="fsbac-title-arrow">{{$title}}{{title}}{{/title}}</h3>
</div>
