<div class="fsbac-methods_training_section-box-white">
    <div class="box-icon-blue">
        {{$icon}}{{icon}}{{/icon}}
    </div>
    <div class="box-text-info">{{$text}}{{text}}{{/text}}</div>

</div>