<div class="fsbac-methods_training_section-number-group">
  <div class="fsbac-icon-box">
    {{$icon}} {{icon}} {{/icon}}
  </div>
  <div class="fsbac-text-box">
    <span class="top-text">   {{$toptext}} {{toptext}} {{/toptext}}</span>
    <span class="bottom-text">{{$bottomtext}} {{bottomtext}} {{/bottomtext}}</span>
  </div>
</div>