
<div class="fsbac-my-emptymessage-all">
    <div class="svg-icon">
        {{$icon}}{{icon}}{{/icon}}
    </div>
    <p class="fsbac-my-emptymessage-all-title">{{$title}}{{title}}{{/title}}</p>
    <p class="fsbac-my-emptymessage-all-subtitle">{{$message}}{{message}}{{/message}}</p>
    <div>
        <a class="btn btn-secondary" href="{{$link}}{{link}}{{/link}}">{{$linkLabel}}{{linkLabel}}{{/linkLabel}} <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>