
{{< theme_fsbac/components/title-section}}
        {{$title}}{{title}}{{/title}}
{{/ theme_fsbac/components/title-section}}
<div class="fsbac-my-emptymessage">
    <p>{{$message}}{{message}}{{/message}}</p>
    <div>
        <a class="btn btn-link" href="{{$link}}{{link}}{{/link}}">{{$linkLabel}}{{linkLabel}}{{/linkLabel}} <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>