<div class="fsbac-hedaer-my">
    <div class="container">
        <h2 class="fsbac-hedaer-my-title">{{#str}} my.title,theme_fsbac{{/str}}</h2>

    </div>
</div>
<div class="fsbac-container-my-tabs">

    <a href="{{{TAB0_LINK}}}" class="fsbac-my-buttonTabs {{#TAB_ACTIVE_0}}currentTab{{/TAB_ACTIVE_0}}">
       {{> theme_fsbac/icons_svg/view-list-fill }}
        <span>{{#str}} my.tab1,theme_fsbac{{/str}}</span>    
     </a>
       <a href="{{{TAB1_LINK}}}" class="fsbac-my-buttonTabs {{#TAB_ACTIVE_1}}currentTab{{/TAB_ACTIVE_1}}">
       {{> theme_fsbac/icons_svg/heart }}
        <span>{{#str}} my.tab2,theme_fsbac{{/str}}</span>    
     </a>
       <a href="{{{TAB2_LINK}}}" class="fsbac-my-buttonTabs {{#TAB_ACTIVE_2}}currentTab{{/TAB_ACTIVE_2}}">
       {{> theme_fsbac/icons_svg/trophy2 }}
        <span>{{#str}} my.tab3,theme_fsbac{{/str}}</span>    
     </a>

</div>